.mensagem {
    border: 2px solid rgb(25, 81, 185);
    background-color: rgb(196, 213, 235);
    color: rgb(60, 63, 230);
    padding: 20px;
}

.erro {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(243, 219, 219);
    color: rgb(228, 13, 13);
    padding: 20px;
}

.atencao {
    border: 2px solid rgb(174, 185, 25);
    background-color: rgb(229, 240, 169);
    color: rgb(153, 163, 8);
    padding: 20px;
}